In [1]:
# Import Pandas library
import pandas as pd

# Read the dataset file
james_bond_data = pd.read_csv("james_bond_movies.csv").convert_dtypes()

In [2]:
# View the first 5 rows
james_bond_data.head()

,Year,Movie,Bond,Director,Composer,Writer,Cinematographer,Depicted_Film_Loc,Shooting_Loc,Bond_Car_MFG,...,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Conquests,Martinis,BJB,Kills_Bond,Kills_Others,Top_100,Video_Game
0,1962,Dr. No,Sean Connery,Terence Young,Monty Norman,"Richard Maibaum, Johanna Harwood & Berkely Mather",Ted Moore,"Great Britain, Jamaic","England, Jamaica",Sunbeam,...,110,7.3,7.7,3,2,1,4,8,0,0
1,1963,From Russia with Love,Sean Connery,Terence Young,John Barry,Richard Maibaum & Johanna Harwood,Ted Moore,"United Kingdom, Great Britain, Turkey, Croatia...","England, Scotland, Italy, Switzerland, Turkey",Bently,...,115,7.5,8.0,4,0,0,11,16,0,1
2,1964,Goldfinger,Sean Connery,Guy Hamilton,John Barry,Richard Maibaum & Paul Dehn,Ted Moore,"United States, Great Britain, Switzerland","England, Switzerland, United States",Aston Martin,...,110,7.8,8.4,2,1,2,9,68,1,1
3,1965,Thunderball,Sean Connery,Terence Young,John Barry,Richard Maibaum & John Hopkins,Ted Moore,"France, Great Britain, Bahamas, United States","England, France, Bahamas, United States",Aston Martin,...,130,7.0,6.8,3,0,0,20,90,1,0
4,1967,You Only Live Twice,Sean Connery,Lewis Gilbert,John Barry,Roald Dahl,Freddie Young,"United States, Russia, Kazakhstan, Norway, Japan","Japan, Spain, Norway",Toyota,...,117,6.9,6.3,3,1,0,21,175,1,0

In [3]:
# Remove unnessary colimns
columns_to_delete = ['Director','Composer','Cinematographer','Depicted_Film_Loc','Shooting_Loc','Bond_Girl_Nat','US_Adj','World_Adj','Budget_Adj','Conquests','BJB','Kills_Others','Writer','Video_Game','Top_100']
james_bond_data = james_bond_data.drop(columns_to_delete, axis=1)

In [4]:
# Check that we have removed the unnessary columns
james_bond_data.head(1)

,Year,Movie,Bond,Bond_Car_MFG,US_Gross,World_Gross,Budget,Film_Length,Avg_User_IMDB,Avg_User_Rtn_Tom,Martinis,Kills_Bond
0,1962,Dr. No,Sean Connery,Sunbeam,16067035,59567035,1000,110,7.3,7.7,2,4

In [5]:
# Rename colmns
new_column_names = {
    "Year": "release_date",
    "Movie": "movie_title",
    "Bond": "bond_actor",
    "Bond_Car_MFG": "car_manufacturer",
    "US_Gross": "income_usa",
    "World_Gross": "income_world",
    "Budget": "movie_budget",
    "Film_Length": "film_length",
    "Avg_User_IMDB": "imdb",
    "Avg_User_Rtn_Tom": "rotten_tomatoes",
    "Martinis": "martinis_consumed",
    "Kills_Bond": "bond_kills",
    }

data = james_bond_data.rename(columns=new_column_names)

In [6]:
# Check if we renamed the columns
data.columns

Index(['release_date', 'movie_title', 'bond_actor', 'car_manufacturer',
       'income_usa', 'income_world', 'movie_budget', 'film_length', 'imdb',
       'rotten_tomatoes', 'martinis_consumed', 'bond_kills'],
      dtype='object')

In [7]:
# Check if any data is missing
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 25 entries, 0 to 24
Data columns (total 12 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   release_date       25 non-null     Int64
 1   movie_title        25 non-null     string
 2   bond_actor         25 non-null     string
 3   car_manufacturer   25 non-null     string
 4   income_usa         25 non-null     Int64
 5   income_world       25 non-null     Int64
 6   movie_budget       25 non-null     Int64
 7   film_length        25 non-null     Int64
 8   imdb               24 non-null     Float64
 9   rotten_tomatoes    24 non-null     Float64
 10  martinis_consumed  25 non-null     Int64
 11  bond_kills         25 non-null     Int64
dtypes: Float64(2), Int64(7), string(3)
memory usage: 2.7 KB

In [8]:
# See the first 5 rows
data.head()

,release_date,movie_title,bond_actor,car_manufacturer,income_usa,income_world,movie_budget,film_length,imdb,rotten_tomatoes,martinis_consumed,bond_kills
0,1962,Dr. No,Sean Connery,Sunbeam,16067035,59567035,1000,110,7.3,7.7,2,4
1,1963,From Russia with Love,Sean Connery,Bently,24800000,78900000,2000,115,7.5,8.0,0,11
2,1964,Goldfinger,Sean Connery,Aston Martin,51100000,124900000,3000,110,7.8,8.4,1,9
3,1965,Thunderball,Sean Connery,Aston Martin,63600000,141200000,9000,130,7.0,6.8,0,20
4,1967,You Only Live Twice,Sean Connery,Toyota,43100000,111600000,9500,117,6.9,6.3,1,21

In [9]:
# See the columns with missing data
data.loc[data.isna().any(axis="columns")]

,release_date,movie_title,bond_actor,car_manufacturer,income_usa,income_world,movie_budget,film_length,imdb,rotten_tomatoes,martinis_consumed,bond_kills
9,1977,The Spy Who Loved Me,Roger Moore,Lotus,46800000,185400000,14000,125,<NA>,<NA>,1,31

In [10]:
# Fix all NA values
data = james_bond_data.rename(columns=new_column_names).combine_first(
pd.DataFrame({"imdb": {9: 7.1}, "rotten_tomatoes": {9: 6.8}})
)

In [11]:
# Check if we fixed all missing data
data.head(10)

,bond_actor,bond_kills,car_manufacturer,film_length,imdb,income_usa,income_world,martinis_consumed,movie_budget,movie_title,release_date,rotten_tomatoes
0,Sean Connery,4,Sunbeam,110,7.3,16067035,59567035,2,1000,Dr. No,1962,7.7
1,Sean Connery,11,Bently,115,7.5,24800000,78900000,0,2000,From Russia with Love,1963,8.0
2,Sean Connery,9,Aston Martin,110,7.8,51100000,124900000,1,3000,Goldfinger,1964,8.4
3,Sean Connery,20,Aston Martin,130,7.0,63600000,141200000,0,9000,Thunderball,1965,6.8
4,Sean Connery,21,Toyota,117,6.9,43100000,111600000,1,9500,You Only Live Twice,1967,6.3
5,George Lazenby,5,Mercury,142,6.8,22800000,82000000,1,8000,On Her Majesty's Secret Service,1969,6.7
6,Shawn Connery,7,Ford,1200,6.7,43800000,116000000,0,7200,Diamonds Are Forever,1971,6.3
7,Roger Moore,8,AMC,121,6.8,35400000,161800000,0,7000,Live and Let Die,1973,5.9
8,Roger Moore,1,AMC,125,6.7,21000000,97600000,0,7000,The Man with the Golden Gun,1974,5.1
9,Roger Moore,31,Lotus,125,7.1,46800000,185400000,1,14000,The Spy Who Loved Me,1977,6.8

In [12]:
# Financial columns
data[
    ["income_usa", "income_world", "movie_budget", "film_length"]
].head()

   income_usa  income_world  movie_budget  film_length
0    16067035      59567035          1000          110
1    24800000      78900000          2000          115
2    51100000     124900000          3000          110
3    63600000     141200000          9000          130
4    43100000     111600000          9500          117

In [13]:
# Multiply the 'movie_budget' by 1000
data = data.assign(movie_budget=lambda data:(data["movie_budget"]*1000))

In [14]:
# Financial columns
data[
    ["income_usa", "income_world", "movie_budget", "film_length"]
].head()

   income_usa  income_world  movie_budget  film_length
0    16067035      59567035       1000000          110
1    24800000      78900000       2000000          115
2    51100000     124900000       3000000          110
3    63600000     141200000       9000000          130
4    43100000     111600000       9500000          117

In [15]:
# Check for spelling mistakes
data["bond_actor"].value_counts()

bond_actor
Roger Moore       6
Sean Connery      5
Daniel Craig      5
Pierce Brosnan    4
Timothy Dalton    2
George Lazenby    1
Shawn Connery     1
Roger MOORE       1
Name: count, dtype: Int64

In [16]:
# Fix spelling mistakes
data = data.assign(bond_actor=lambda data:(data["bond_actor"]
            .str.replace("Shawn", "Sean")
            .str.replace("MOORE", "Moore")))

In [17]:
# Check for spelling mistakes
data["bond_actor"].value_counts()

bond_actor
Roger Moore       7
Sean Connery      6
Daniel Craig      5
Pierce Brosnan    4
Timothy Dalton    2
George Lazenby    1
Name: count, dtype: Int64

In [18]:
# Check for invalid outliers
data[["film_length", "martinis_consumed"]].describe()

       film_length  martinis_consumed
count         25.0               25.0
mean        170.72               0.68
std     214.723372           1.651262
min          106.0               -6.0
25%          121.0                0.0
50%          130.0                1.0
75%          133.0                1.0
max         1200.0                3.0

In [19]:
# Fix outliers
data = data.assign(film_length=lambda data:(data["film_length"]
            .replace(1200, 120)
))
data = data.assign(martinis_consumed=lambda data:(data["martinis_consumed"]
            .replace(-6, 6)
))

In [20]:
# Check for invalid outliers
data[["film_length", "martinis_consumed"]].describe()

       film_length  martinis_consumed
count         25.0               25.0
mean        127.52               1.16
std      11.266174           1.344123
min          106.0                0.0
25%          120.0                0.0
50%          128.0                1.0
75%          133.0                1.0
max          148.0                6.0

In [21]:
# Check for duplicate data
data.loc[data.duplicated(keep=False)]

,bond_actor,bond_kills,car_manufacturer,film_length,imdb,income_usa,income_world,martinis_consumed,movie_budget,movie_title,release_date,rotten_tomatoes
20,Daniel Craig,11,Aston Martin,144,7.9,167365000,596365000,3,102000000,Casino Royale,2006,7.8
21,Daniel Craig,11,Aston Martin,144,7.9,167365000,596365000,3,102000000,Casino Royale,2006,7.8

In [22]:
# Drop duplicate data
data = data.drop_duplicates(ignore_index=True)

In [23]:
# Check for duplicate data
data.loc[data.duplicated(keep=False)]

Empty DataFrame
Columns: [bond_actor, bond_kills, car_manufacturer, film_length, imdb, income_usa, income_world, martinis_consumed, movie_budget, movie_title, release_date, rotten_tomatoes]
Index: []

In [24]:
# Store cleansed data
import pandas as pd
data.to_csv('james_bond_movies_cleansed.csv', index=False)

# Download cleansed data file to a local computer
from google.colab import files
files.download('james_bond_movies_cleansed.csv')